@import url('https://fonts.googleapis.com/css?family=Poppins');

header{
    color: black;
}
p{
    color:white;
    text-shadow: 1px 1px 30px rgba(0, 0, 0, 1);

}
ion-content{
    --background: rgba(255, 255, 255, 0) url(https://images.unsplash.com/photo-1514415679929-1fd5193f14f7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80) no-repeat center center / cover;
    color:rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-weight: bold;

}

h1{
    color:white;
    text-shadow: 1px 1px 30px rgba(0, 0, 0, 1);
    font-family: "Poppins", sans-serif;
    font-weight: bold;

}
h3{
    color:rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

