<ion-header >
  <ion-toolbar text-center color="dark">
    <h3> <ion-icon name="water" color="danger" size= "medium"></ion-icon> Blood Donation</h3>
  </ion-toolbar>
</ion-header>
<ion-content>
<div text-center>

    <br>
    <br>

  <h1><b>Donate Regularly,<br>Save Lives</b></h1>

  <br>
  <br>

  <p>Sign up now to schedule a donation plan <br> and earn points for donations<br> Get notified of blood shortages in<br> local hospitals near you and save lives</p>

  <br>
  <br>

      <ion-button (click)="signup()" color="light" size = "medium"  >
        Sign Up
      </ion-button>
  
      <br>
  
      <ion-button (click)="login()" color="light" size = "medium" >
        Log In
      </ion-button>
</div>
<br>
<br>
<div>
  <ion-card color= "dark">
    <div class="text">
        <h3><ion-icon name="water" color="danger" size= "large"></ion-icon>
          Blood Matters</h3>
        <p>Find out how rare your blood is</p>
    </div>
  </ion-card>

  <ion-card color= "dark">
      <div class="text">
        <h3><ion-icon name="pricetags" color="danger" size= "large" ></ion-icon>        
          Rewards</h3>
          <p>Find out the exciting offers in store for donors</p>
    </div>
  </ion-card>

  <ion-card color= "dark">
      <div class="text">
          <h3><ion-icon name="medkit" color="danger" size= "large"></ion-icon>
            The Team</h3>
            <p>Get to know our team better</p>
      </div>
    </ion-card>
</div>

</ion-content>
