<body>
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active"> Log In </h2>
        <!-- <h2 class="inactive underlineHover">Sign Up </h2> -->
    
        <!-- Icon -->
        <div class="fadeIn first">
          <ion-icon name="contact" color="danger" size="large"></ion-icon>
        </div>
    
        <!-- Login Form -->
        <form>
          <h2>Emirates ID</h2>
          <input type="text" id="username" class="fadeIn second" name="login" value="" [(ngModel)]="emiratesId" placeholder="xxx-xxxx-xxxxxxx-x">
          <h2>Password</h2>
          <input type="password" id="password" class="fadeIn third" name="login" [(ngModel)]="password">
          <input type="submit" class="fadeIn fourth" value="Log In" (click)="login()">
          <ion-spinner name="dots" size="large" *ngIf="loading" color="danger"></ion-spinner>
        </form>

    
        <!-- Remind Password -->
        <div id="formFooter">
          <a class="underlineHover" (click)="signup()">Dont have an account?</a>
        </div>
      </div>
    </div>
  </body>