<ion-header >
    <ion-toolbar text-center color="dark">
      <h3> <ion-icon name="water" color="danger" size= "medium"></ion-icon> Blood Donation</h3>
    </ion-toolbar>
  </ion-header>
<ion-content>
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active"> Log In </h2>
        <!-- <h2 class="inactive underlineHover">Sign Up </h2> -->
    
        <!-- Icon -->
        <div class="fadeIn first">
          <ion-icon name="contact" color="danger" size="large"></ion-icon>
        </div>
    
        <!-- Login Form -->
        <form>
          <h2>Emirates ID</h2>
          <input type="text" id="emiratesId" class="fadeIn second" name="login" value="" [(ngModel)]="emiratesId" placeholder="xxx-xxxx-xxxxxxx-x">
          <h2>Password</h2>
          <input type="password" id="password" class="fadeIn third" name="login" [(ngModel)]="password">
          <input type="submit" class="fadeIn fourth" value="Log in" (click)="login()">
        </form>
    
        <!-- Remind Password -->
        <div id="formFooter">
          <a class="underlineHover" (click)="signup()">Dont have an account?</a>
        </div>
      </div>
    </div>

</ion-content>
