<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<header>
    <div>
        <ion-icon name="water" color="danger" size= "medium"></ion-icon>
        <p> Blood Donation</p>
    </div>
</header>

<body>

    <header>
      <div>
          <ion-icon name="water" color="danger" size= "large"></ion-icon>
          <h3>&nbsp;Blood Donation</h3>
      </div>
      <nav>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Partners</a></li>
          <li><a href="#">Donations</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </header>
  
    <div class="titles">
  
      <h1>Donate Regularly, <br> Save Lives</h1>
      <p>Sign up now to schedule a donation plan and earn points for donations<br> Get notified of blood shortages in local hospitals near you and save lives</p>
  
    </div>
    

    <div text-center>

    <ion-button color="light" size = "large" >
      Sign Up
    </ion-button>

    <br>

    <ion-button color="light" size = "large" >
      Log In
    </ion-button>

    </div>

    <section class="container-boxes">
      <div class="box">
  
        <div class="icon">
          <ion-icon name="water" color="danger" size= "large"></ion-icon>
        </div>
  
        <div class="text">
          <a href="">
            <h3>Blood Matters</h3>
            <p>Find out how rare your blood is</p>
          </a>
        </div>
  
      </div>
  
      <div class="box">
  
        <div class="icon">
            <ion-icon name="pricetags" color="danger" size= "large" ></ion-icon>        
        </div>
  
        <div class="text">
          <a href="">
            <h3>Rewards</h3>
            <p>Find out the exciting offers in store for donors</p>
          </a>
        </div>
  
      </div>
      
      <div class="box">
  
        <div class="icon">
            <ion-icon name="medkit" color="danger" size= "large"></ion-icon>
        </div>
        <div class="text">
          <a href="">
            <h3>The Team</h3>
            <p>Get to know our team better</p>
          </a>
        </div>
    
      </div>


    </section>
  
  </body>

<!-- 
<ion-content center text-center>

  <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div>
  
  <div>
  <ion-button>
    Send nudes
  </ion-button>
  </div>
  
  <div>
  <ion-button>
      BOOBIES
  </ion-button>
  </div>

</ion-content> -->
